body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0;
  background: #37d5fb url(../imgs/fondosimple.png) no-repeat center fixed;
  background-size: cover;
}
h1,
p {
  color: #fff;
}
.item,
.itemB {
  width: 400px;
}
.itemB:hover {
  cursor: pointer;
  content: url(../imgs/ready.gif);
}
.items {
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
  align-items: center;
  gap: 15px;
}
