body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0;
  background: #37d5fb url(../imgs/fondosimple.png) no-repeat center fixed;
  background-size: cover;
}
h1,
p {
  color: #fff;
}
.itemB {
  width: 344px;
  background: #534024;
  border: 20px solid #3A2514;
  border-radius: 20px;
}
.itemB:hover {
  cursor: pointer;
  content: url(../imgs/fight.gif);
  background: none;
  border: none;
  border-radius: 0;
  width: 485px;
}
.items {
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
  align-items: center;
  gap: 15px;
}
