body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0;
  background: url(../imgs/fondosimple.png) no-repeat center fixed,
    linear-gradient(
      252.46deg,
      #2596ff 0%,
      #1156bd 38.46%,
      #133a76 74.52%,
      #132b4e 100%
    );
  background-size: cover;
}
h1,
p {
  color: #fff;
  margin: 0;
  padding: 0;
}
#puntaje {
  top: 20px;
  left: 20px;
}
#vidas {
  top: 60px;
  left: 20px;
}
#niveles {
  top: 100px;
  left: 20px;
}
.datos {
  position: absolute;
  font-size: 20px;
  font-family: Arial;
  font-weight: bold;
  text-shadow: 2px 2px 4px black;
}
.itemB {
  background: #534024;
  border: 20px solid #3a2514;
  border-radius: 20px;
}
.itemB:hover {
  cursor: pointer;
  content: url(../imgs/fight.gif);
  background: none;
  border: none;
  border-radius: 0;
}
.items {
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
  align-items: center;
  gap: 15px;
}
.item{
  height: 384px;
  width: 400px;
}
